.edit-section{
    position: relative;
    margin-right: 10px;
    & input{
        width:100%;
        height:40px;
        padding: 10px;
    }
}

.close{
    position: absolute;
    top:50%;
    right:3px;
    transform: translate(0,-50%);
    width:20px;
    height:20px;
}